*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    display: flex;
    align-items:flex-start;
    flex-flow: column wrap;
}

input{
    padding: 10px 20px;
    margin: 10px 10px;
}